.imageURL {
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    border-top: 250px solid rgba(111,111,111,0);
    /* -webkit-box-shadow: -2px -1px 15px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: -3px -2px 30px 14px rgba(0,0,0,0.425);
    box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35); */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
  }
.imageURL {
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
.address {
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
.btns-container {
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* border-radius: 50%; */
    /* background-color: #f44336; */
  }

  .button4{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
  }
    .button4:hover{
    border-color: rgba(255,255,255,1);
    }
    @media all and (max-width:30em){
        .button4{
        display:block;
        margin:0.2em auto;
        }
        }
.finder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.home {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px
}
.intro {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#subtotal button {
  background-color: #088178;
  color: #fff;
  padding: 12px 20px;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}